
@font-face {
    font-family: SuperMarioBros2;
    src: url(SuperMarioBros2.ttf);
}
body{
    font-family: 'SuperMarioBros2';
    font-size: 36px;
    color: white;
    text-transform: uppercase;
}
.stage-flex{
    display: flex;
    flex-direction: column;
    width:80%;
    margin: auto;
    position: relative;
    background-color: black;

}
.scores{
    height: 15%;
    background-image: url('../images/scores-bg.png');
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:50px 0 0 0;
}
.scores-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#coins{flex-direction: row;}
#coin{
    background-image: url('../images/Coin.gif');
    height: 50%;
    width: 45px;
    background-repeat: no-repeat;
    background-position: center;
}
.restart-button{
    font-size: 8px;
    cursor: pointer;
}
.restart-button-wrap{
    position: absolute;
    top:20px;
    right:20px;
}
#game-over-layer{
    background-color: black;
    position: absolute;
    top:-100vh;
    z-index: 100;
    width: 100%;
    height: 100%;
    transition:transform 2s;
}
#game-over-layer.transform{
    transform: translateY(100vh);
}
.game-over{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
#game-over-layer .restart-button{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 63%;
    font-size: 16px;
}
#game-start-layer{
    background-image: url('../images/overworld_bg_plain1.png');
    position: absolute;
    z-index:100;
    width: 100%;
    height: 100%;
    transition:transform 2s;
    background-size: cover;
    top:0;
}
#game-start-layer .restart-button{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 63%;
    font-size: 16px;
}
#game-start-layer .transform{
    transform: translateY(-100vh);
}